<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--    适配移动端-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    网页图标-->
    <link rel="icon" href="../image/title.ico">
    <!--    全局样式-->
    <link rel="stylesheet" href="../css/user_m/reset.css">
    <!--    字体图标-->
    <link rel="stylesheet" href="../css/user_m/iconfont.css">
    <!--    主体的样式-->
    <link rel="stylesheet" href="../css/user_m/container.css">
    <!--    页脚的样式-->
    <link rel="stylesheet" href="../css/user_m/footer.css">
    <!--    首页的样式-->
    <link rel="stylesheet" href="../css/user_m/index.css">
</head>
<body>
<!--导航开始-->
<div class="nav">
    <div class="title">外卖首页</div>
    <div class="search"><i class="iconfont">&#xe62f;</i></div>
</div>
<!--导航结束-->
<div class="clearHeight"></div>
<!--banner部分开始-->
<div class="banner">
    <img src="../image/banner4.jpg" alt="">
    <ul class="btn">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
<!--banner部分结束-->
<!--消息开始-->
<div class="message">
    <i class="iconfont">&#xe61f;</i>
    <span>$%^$^&#%#@&*^*&(*@</span>
</div>
<!--消息结束-->
<!--菜单开始-->
<div class="menu">
    <div class="menu-active">
        <a href="#">
            <img src="../image/menu1.png" alt="">
            <p>立即订餐</p>
        </a>
    </div>
    <div>
        <a href="waimai.html">
            <img src="../image/menu2.png" alt="">
            <p>叫外卖</p>
        </a>
    </div>
    <div>
        <a href="#">
            <img src="../image/menu3.png" alt="">
            <p>立即订餐</p>
        </a>
    </div>
    <div>
        <a href="#">
            <img src="../image/menu4.png" alt="">
            <p>立即订餐</p>
        </a>
    </div>
</div>
<!--菜单结束-->
<!--餐厅标题开始-->
<div class="ct-title">推荐餐厅</div>
<!--餐厅标题结束-->
<!--主体开始-->
<div class="container">
    <div class="sj-item">
        <div class="sj-top">
            <img src="../image/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom">赛蒂国际工业园</div>
    </div>
    <div class="sj-item">
        <div class="sj-top">
            <img src="../image/shangjia2.png" alt="">
            <div class="sj-info">
                <p>汉拿山烤肉</p>
                <p>人均：￥120.00 | 10人预定</p>
                <p>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont">&#xe636;</i>
                    <i class="iconfont grey">&#xe636;</i>
                </p>
            </div>
            <span class="order">订</span>
        </div>
        <div class="sj-bottom"></div>
    </div>
</div>
<!--主体结束-->
<div class="clearHeight"></div>
<!--页脚开始-->
<div class="footer">
    <div class="footer-active">
        <a href="#">
            <i class="iconfont">&#xe600;</i>
            <p>首页</p>
        </a>
    </div>
    <div>
        <a href="index.html">
            <i class="iconfont">&#xe600;</i>
            <p>订餐</p>
        </a>
    </div>
    <div>
        <a href="ordfrom.html">
            <i class="iconfont">&#xe68a;</i>
            <p>订单</p>
        </a>
    </div>
    <div>
        <a href="#">
            <i class="iconfont">&#xe600;</i>
            <p>设置</p>
        </a>
    </div>
</div>
<!--页脚结束-->


</body>
</html>